<!doctype html>
<html lang="en" ng-app="IPlayerListings">
  <head>
    <meta charset="utf-8">
    <title>iPlayer Listings</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/iPlayerListingsController.js"></script>
    <script src="js/searchFactory.js"></script>
  </head>

  <body ng-controller='IPlayerListingsController as ctrl'>
    <form class="form-horizontal">
      <input type="text" ng-model="searchCtrl.searchTerm">
      <button class="btn" ng-click="ctrl.doSearch()">Search</button>
      <button class="btn" ng-click="ctrl.countPages()">Count Pages</button>
    </form>
    <ul class="list-group">
      <li ng-repeat="show in ctrl.searchResult.atoz_programmes.elements">
        <img ng-src="{{show.picture_url}}&s=50">
        {{show.title}}
      </li>
    </ul>
  </body>
  </html>
