<!doctype html>
<html lang="en" ng-app="IPlayerListings">
  <head>
    <meta charset="utf-8">
    <title>iPlayer Listings</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/iPlayerListingsController.js"></script>
    <script src="js/searchFactory.js"></script>
  </head>
  <body ng-controller='IPlayerListingsController as ctrl' ng-init="ctrl.doSearch('a', 1)">
    <span ng-repeat="character in ctrl.characters">
      <button id="character_{{character}}" ng-click="ctrl.doSearch(character, 1); ctrl.setCurrentCharacter(character)">{{character}}</button>
    </span>
    <ul class="list-group">
      <li ng-repeat="show in ctrl.searchResult.elements">
        <img id="image" ng-src="{{ctrl.image_url(show.images.standard)}}">
        {{show.title}}
      </li>
    </ul>
    <span ng-repeat="page in ctrl.pages_array">
      <button id="page{{page}}" ng-click="ctrl.doSearch(ctrl.current_character, page)">{{page}}</button>
    </span>
  </body>
  </html>
